body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  height: 20rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: #fff;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(24, 31, 28, 1), rgba(24, 31, 28, 0.1)),
    url("https://images.unsplash.com/photo-1540402871140-1e9e22e05299?q=80&w=1078&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.home {
  background-color: #181f1c;
}

.region-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.region {
  margin-top: 1rem;
  width: 6rem;
  font-weight: 600;
  height: 3rem;
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.search-country {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 8px;
}

.button {
  margin-top: 1rem;
  height: 2.4rem;
  width: 4.8rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.card-container {
  display: grid;
  margin-top: 5rem;
  padding-bottom: 5rem;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  position: relative;
  width: 15rem;
  height: 25rem;
  background-color: #687051;
  color: #f9f9f9;
  margin: 5px;
  /* overflow: hidden; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.card:hover,
.card:active {
  transform: translateY(-5px);
}

.flag {
  width: 100%;
  height: 10rem;
  object-fit: fill;
  border-radius: 8px 8px 0 0;
}

.card-button {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  bottom: 0;
  width: 100%;
  height: 2rem;
  border: 0;
  border-top: 1px solid #f9f9f9;
  color: #f9f9f9;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.card-button:active {
  box-shadow: inset 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.coat-of-arms {
  width: 40px;
  position: absolute;
  bottom: 40px;
  right: 15px;
}

.search-container {
  display: flex;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  transition: all 1s;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #03233d;
  color: #fff;
  width: 50rem;
  max-width: 90%;
  height: 40rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s;
}

.close {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  flex: 1;
  overflow-y: auto;
}

.modal-flag {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}

/* Modal Text Content Styling */
.modal h2 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.modal p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.modal strong {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 15rem;
  background-color: #181f1c;
  border-top: 2px solid #fff;
  color: #fff;
}

.your-location {
  position: absolute;
  top: 0;
  right: 5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.time {
  position: absolute;
  top: 2rem;
  right: 5rem;
  font-size: 24px;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}

.contact {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.number,
.email {
  font-weight: 600;
  font-size: 18px;
}

.globe-img {
  margin-right: 12rem;
}
